In [1]:
import pandas as pd

In [2]:
r_cols = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings_df = pd.read_csv(
    "../data/raw/ratings.dat",
    sep='::',
    header=None,
    names=r_cols,
    engine='python'
)

In [3]:
# --- 1. ratings.dat ---
r_cols = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings_df = pd.read_csv(
    "../data/raw/ratings.dat",
    sep='::',
    header=None,
    names=r_cols,
    engine='python'
)

print("--- 1. ratings.dat (First 5 Rows) ---")
print(ratings_df.head())
print(f"\nTotal Rating: {len(ratings_df)}")

--- 1. ratings.dat (First 5 Rows) ---
   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

Total Rating: 1000209

In [4]:
# --- 2. movies.dat ---
m_cols = ['MovieID', 'Title', 'Genres']
movies_df = pd.read_csv(
    "../data/raw/movies.dat",
    sep='::',
    header=None,
    names=m_cols,
    engine='python',
    encoding='latin-1'
)

print("\n\n--- 2. movies.dat (First 5 Lines) ---")
print(movies_df.head())
print(f"\nTotal Movie: {len(movies_df)}")

--- 2. movies.dat (First 5 Lines) ---
   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

Total Movie: 3883

In [5]:
# --- 3. users.dat ---
u_cols = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']
users_df = pd.read_csv(
    "../data/raw/users.dat",
    sep='::',
    header=None,
    names=u_cols,
    engine='python'
)

print("\n\n--- 3. users.dat (First 5 Lines) ---")
print(users_df.head())
print(f"\nTotal Users: {len(users_df)}")

--- 3. users.dat (First 5 Lines) ---
   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

Total Users: 6040